


// colors

$black: #222222;
$white: #ffffff;
$text-color: rgb(255, 255, 255);

$base-box-shadow:1px 3px 5px rgba(0,0,0,0.1);

$font-sm: 1rem;
$font-text:20px;
$font-sm-title:14px;
$font-sm-info:12px;
$font-h1:38px;

$fw-regular:400;
$fw-medium:500;
$fw-bold: 700;
